<h1>{{ruta.ciudadOrigen}} <small>{{ruta.ciudadOrigen}}</small></h1>
<hr>
<div class="row">
    <div class="col-md-4">
        <img src="" alt="">
        <br><br>
        <a [routerLink]="['/rutas']" class="btn btn-outline-danger btn-black">Regresar

        </a>
    </div>
    <div class="col-md-8">
        <h3>{{ruta.precio}}</h3>
        <hr>
        <p>
            {{ruta.descrip}}
        </p>
        <div>
            <img  class="img-fluid rounded-start" alt="...">
            <br><br><br><br>
            <h3>Tipo de Ruta: {{ruta.tipo}}</h3>
            <p class="card-text">
                <hr>
                <div *ngIf="ruta.tipo.includes('Interno')">
                    <img src="" alt="a">
                </div>

                <div *ngIf="ruta.tipo.includes('Externo')">
                    <img src="" alt="a">
                </div>
                <div *ngIf="ruta.tipo.includes('Todos')">
                    <img src="" alt="a">
                </div>

        </div>
    </div>

</div>