<br>
<h1>Quienes Somos</h1>
<br>
<div>
    <p>Transportes San Alejandro, es una empresa dedicada al servicio logístico y distribución de carga pesada a nivel local y nacional, desde hace 35 años, nuestra meta es la integración de su cadena logística de suministros, aplicando una planificación, programación y monitoreo de sus productos, obteniendo de esta forma un servicio óptimo con reconocimiento en el mercado.

        Nuestro objetivo es ser socios estratégicos de largo plazo con nuestros clientes, nuestra experiencia en el área de minería, construcción e hidrocarburos nos respaldan para obtener las metas trazadas.
    </p>
    <div>
        <h3>MISIÓN</h3>
        <p>Atender las necesidades y requerimientos de nuestros clientes pertenecientes al sector industrial, hidrocarburos y minero, brindándoles estándares de seguridad, medio ambiente que asegure una atractiva rentabilidad económica, ambiental y social para nuestros clientes y para nosotros.
        </p>
    </div>
        <div>
            <h3>VISIÓN</h3>
            <p>Ser un modelo de empresa líder en el servicio de transportes de carga especializada de materiales y/o residuos peligroso, con presencia competitiva a nivel nacional e internacional.
            </p>
        </div>   
</div>
